@mixin elr-pricing-table($config: ()) {
    $config: extend((
        container-height: 460px,
        border-color: $light-grey,
        background-color: $white,
        color: $text-color,
        border-radius: 3px
    ), $config);

    $container-height: map-get($config, container-height);
    $border-color: map-get($config, border-color);
    $background-color: map-get($config, background-color);
    $color: map-get($config, color);
    $border-radius: map-get($config, border-radius);

    height: $container-height;
    min-height: min-content;

    .pricing-package {
        background-color: $background-color;
        border-radius: $border-radius;
        border: 1px solid $border-color;
        margin: 0 10px;
        flex-grow: 1;
        text-align: center;
        max-width: 300px;
        align-self: center;
        height: 100%;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $color;
    }

    .pricing-package-popular {
        flex-grow: 2;
        max-width: 350px;
        height: 115%;
    }

    .pricing-package-header,
    .pricing-package-body,
    .pricing-package-footer {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .pricing-package-header {
        padding: 10px 20px;

        p {
            padding: 0;
            margin: 0;
            color: $color;
        }

        span {
            display: block;
            line-height: 1.2;
        }
    }

    .pricing-package-price {
        font-size: 36px;
        font-weight: $bold;
    }

    .pricing-package-duration {
        font-weight: $light;
        font-size: 12px;
    }

    .pricing-package-name,
    .pricing-package-description {
        line-height: 1.2;
        font-weight: $light;
        padding: 0;
    }

    .pricing-package-name {
        font-size: 36px;
    }

    .pricing-package-body {
        border-top: 1px solid $border-color;
        padding: 20px 0;
    }

    .pricing-package-description {
        font-size: 14px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
        width: 100%;
    }

    .pricing-package-features {
        list-style: none;
        padding: 20px 0 10px;

        li {
            padding: 0 0 5px;
            margin: 0;
            // font-weight: $light;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .pricing-package-footer {
        padding: 20px 10px 10px;
        border-top: 1px solid $border-color;

        .elr-button {
            margin-right: 0;
        }
    }
}
